{{ define "main" }}
<h1 class="text-5xl sm:text-7xl font-extrabold text-[var(--ctp-text)] mb-12 sm:mb-16 text-center px-4 sm:px-0">{{ .Title }}</h1>
<div class="markdown-content mx-auto text-xl sm:text-3xl leading-relaxed text-[var(--ctp-text)] px-4 sm:px-0">
    {{ .Content }}
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-16 mt-12 sm:mt-16 px-4 sm:px-0">
    {{ range .Pages.ByWeight }}
    <div class="bg-[var(--ctp-surface0)] p-8 sm:p-12 rounded-3xl shadow-xl hover:shadow-2xl transition duration-300 transform hover:-translate-y-4 flex flex-col border-2 border-[var(--ctp-surface2)]">
        <h2 class="text-3xl sm:text-5xl font-bold text-[var(--ctp-pink)] mb-4 sm:mb-6 leading-snug">
            <a href="{{ .Permalink }}" class="hover:underline">{{ .Title }}</a>
        </h2>
        <div class="text-[var(--ctp-subtext1)] text-base sm:text-xl mb-6 sm:mb-8">
            {{ if .Date }}Published: {{ .Date.Format "January 2, 2006" }}{{ end }}
        </div>
        <p class="text-[var(--ctp-text)] flex-grow mb-8 sm:mb-10 text-lg sm:text-2xl leading-relaxed">{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="inline-block bg-[var(--ctp-mauve)] text-[var(--ctp-crust)] px-8 py-4 rounded-xl hover:bg-[var(--ctp-lavender)] transition duration-300 text-center self-start font-semibold shadow-md hover:shadow-lg transform hover:scale-105 text-lg sm:text-2xl">Read More <i class="fas fa-arrow-right ml-3 sm:ml-4"></i></a>
    </div>
    {{ end }}
</div>
{{ end }}
